doctype html
html
  head
    meta(charset = "utf-8")
    meta(name = "viewport" content="width=device-width")
    title eyedventure
    link(href="./index.css", rel="stylesheet", type="text/css")
  body
    #navbar
      .logo
        a(href='#')
          img(src='image/navbar/logo.png' alt='logo' height='140px')
      .list
        li.item
          a(href='#front_page')
            img(src='image/navbar/gameintro.png' alt='gameintro' height='50px')
        li.item
          a(href='#feature_page')
            img(src='image/navbar/gamefeatures.png' alt='gamefeatures' height='50px')
        li.item
          a(href='#aboutus')
            img(src='image/navbar/aboutus.png' alt='aboutus' height='50px')
        li.item
          a(href='#')
            img(src='image/navbar/signup.png' alt='signup' height='50px')

    #front_page
      .play_now
        a(href="#")
        img(src="image/front_page/playnow.png")
      .explore_more
        a(href="#")
        img(src="image/front_page/exploremore.png")
      .introduction
        img(src="image/front_page/introduction.png")

    #feature_page
      .object
        img#map_background(src='image/feature_map/map_background.png' width='100%')
        img#wave1(src='image/feature_map/wave1.png' width='17%')
        img#wave2(src='image/feature_map/wave2.png' width='17%')
        img#wave3(src='image/feature_map/wave3.png' width='17%')
        img#boat(src='image/feature_map/boat.png' width='17%')
        img#path(src='image/feature_map/path.png' width='85%')
        img#compass(src='image/feature_map/compass.png' width='17%')
        img#game_name(src='image/feature_map/game_name.png' width='24%')
      #area
        img#area1(src='image/feature_map/area1.png' width='23%' onmouseover="mouseover('area1', 'light1', 'coffee_intro')" onmouseout="mouseout('area1', 'light1', 'coffee_intro')")
        img#area2(src='image/feature_map/area2.png' width='23%' onmouseover="mouseover('area2','light2','DIY_intro')" onmouseout="mouseout('area2','light2','DIY_intro')")
        img#area3(src='image/feature_map/area3.png' width='23%' onmouseover="mouseover('area3','light3','interactive')" onmouseout="mouseout('area3','light3','interactive')")
        img#area4(src='image/feature_map/area4.png' width='23%' onmouseover="mouseover('area4','light4','experience')" onmouseout="mouseout('area4','light4','experience')")
        img#area5(src='image/feature_map/area5.png' width='37%' onmouseover="mouseover('area5','light5','Optometry')" onmouseout="mouseout('area5','light5','Optometry')")
      #light_area
        img#dark_background(src='image/feature_map/dark_background.png' width='100%')
        img#light1(src='image/feature_map/light1.png' width='23%')
        img#light2(src='image/feature_map/light3.png' width='23%')
        img#light3(src='image/feature_map/light2.png' width='23%')
        img#light4(src='image/feature_map/light4.png' width='23%')
        img#light5(src='image/feature_map/light5.png' width='37%')
        img#DIY_intro(src='image/feature_map/DIY.png' width='35%')
        img#coffee_intro(src='image/feature_map/coffee.png' width='35%')
        img#experience(src='image/feature_map/experience.png' width='35%')
        img#interactive(src='image/feature_map/interactive.png' width='35%')
        img#Optometry(src='image/feature_map/Optometry.png' width='35%')

    #aboutus
      .background
      .logo
        img(src='image/aboutus/title.png')
      .object
        img.road(src='image/aboutus/road.png', id='road')
        img.tree(src='image/aboutus/tree.png', id='tree')
        img.cloud(src="image/aboutus/cloud1.png", id="cloud1")
        img.cloud(src="image/aboutus/cloud2.png", id="cloud2")
        img.cloud(src="image/aboutus/cloud3.png", id="cloud3")
      #car
        img(src='image/aboutus/car.png')
      .people_origin  
        img#pink(src="image/aboutus/head/pink1.png", onmouseover="mouseover('pink','pink1','people1')", onmouseout="mouseout('pink','pink1','people1')")
        img#purple(src="image/aboutus/head/purple1.png", onmouseover="mouseover('purple','purple1','people2')", onmouseout="mouseout('purple','purple1','people2')")
        img#yellow(src="image/aboutus/head/yellow1.png", onmouseover="mouseover('yellow','yellow1','people3')", onmouseout="mouseout('yellow','yellow1','people3')")
        img#blue(src="image/aboutus/head/blue1.png", onmouseover="mouseover('blue','blue1','people4')", onmouseout="mouseout('blue','blue1','people4')")
        img#green(src="image/aboutus/head/green1.png", onmouseover="mouseover('green','green1','people5')", onmouseout="mouseout('green','green1','people5')")
      .people_glasses
        img#pink1(src='image/aboutus/head/pink2.png')
        img#purple1(src='image/aboutus/head/purple2.png')
        img#yellow1(src='image/aboutus/head/yellow2.png')
        img#blue1(src='image/aboutus/head/blue2.png')
        img#green1(src='image/aboutus/head/green2.png')
      .word
        img#people1(src='image/aboutus/head/people1.png')
        img#people2(src='image/aboutus/head/people2.png')
        img#people3(src='image/aboutus/head/people3.png')
        img#people4(src='image/aboutus/head/people4.png')
        img#people5(src='image/aboutus/head/people5.png')

  script(src='index.js')
