html {
  height: 100%;
  width: 100%; }

body {
  background-color: #FFFFE8;
  margin: 0;
  overflow-x: hidden; }

#navbar {
  position: absolute;
  width: 100%;
  padding: 20px 0px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; }

#navbar .logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 15px; }

#navbar .list {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  padding: 0 30px; }

#navbar .list a {
  padding: 10px 10px; }

div li {
  list-style-type: none; }

#front_page {
  display: flex;
  position: relative;
  background-image: url("image/front_page/background.png");
  width: 100vw;
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  z-index: -2; }

#front_page .explore_more img {
  position: absolute;
  width: 17vw;
  left: 63vw;
  top: 54.5vw;
  z-index: 3; }

#front_page .play_now img {
  position: absolute;
  width: 15vw;
  left: 57vw;
  top: 35vw;
  z-index: 1; }

#front_page .introduction img {
  position: absolute;
  width: 45vw;
  left: 52vw;
  top: 17vw; }

#feature_page {
  position: relative;
  width: 100%; }

#wave1 {
  position: absolute;
  left: 6%;
  top: 50%; }

#wave2 {
  position: absolute;
  left: 35%;
  top: 12%; }

#wave3 {
  position: absolute;
  left: 50%;
  top: 62%; }

#game_name {
  position: absolute;
  left: 70%;
  top: 8%; }

#boat {
  position: absolute;
  left: 6%;
  top: 7%; }

#path {
  position: absolute;
  left: 9%;
  top: 21%; }

#compass {
  position: absolute;
  left: 78%;
  top: 68%; }

#area1 {
  position: absolute;
  left: 12%;
  top: 12%; }

#area2 {
  position: absolute;
  left: 25%;
  top: 51%; }

#area3 {
  position: absolute;
  left: 33%;
  top: 27%; }

#area4 {
  position: absolute;
  left: 58%;
  top: 40%; }

#area5 {
  position: absolute;
  left: 50%;
  top: 6%; }

#dark_background {
  position: absolute;
  left: -2%;
  top: 0%;
  display: none; }

#light1 {
  position: absolute;
  left: 12%;
  top: 12%;
  display: none; }

#light2 {
  position: absolute;
  left: 25%;
  top: 55%;
  display: none; }

#light3 {
  position: absolute;
  left: 33%;
  top: 29%;
  display: none; }

#light4 {
  position: absolute;
  left: 58%;
  top: 43%;
  display: none; }

#light5 {
  position: absolute;
  left: 50%;
  top: 10%;
  display: none; }

#DIY_intro {
  position: absolute;
  left: 20%;
  top: 70%;
  display: none; }

#coffee_intro {
  position: absolute;
  left: 3%;
  top: 51%;
  display: none; }

#experience {
  position: absolute;
  left: 45%;
  top: 65%;
  display: none; }

#interactive {
  position: absolute;
  left: 25%;
  top: 52%;
  display: none; }

#Optometry {
  position: absolute;
  left: 50%;
  top: 35%;
  display: none; }

#aboutus {
  position: relative;
  display: flex;
  width: 100vw;
  aspect-ratio: 10/6.8; }

#aboutus .background {
  display: flex;
  position: absolute;
  background-image: url("image/aboutus/bg.png");
  width: 100vw;
  aspect-ratio: 10/6.8;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2; }

#aboutus .logo img {
  position: absolute;
  width: 19vw;
  top: 3vh;
  left: 3vw;
  z-index: 1; }

#aboutus .object img {
  position: absolute;
  z-index: 2;
  pointer-events: none; }

#road {
  position: absolute;
  z-index: 3;
  width: 100vw; }

#tree {
  z-index: 3;
  width: 20vw;
  right: 1.5vw;
  bottom: 0vh; }

.cloud {
  z-index: 3;
  width: 20%; }

#cloud3 {
  top: 15vh; }

#cloud1 {
  top: 11vh;
  right: 1vw; }

#cloud2 {
  top: 68vh;
  left: 43vw; }

#car img {
  position: absolute;
  z-index: 5;
  width: 12vw;
  right: 1.3vw;
  top: 45vh; }

.people_origin {
  position: absolute; }

#aboutus .people_origin img {
  position: absolute;
  z-index: 6; }

#pink {
  position: absolute;
  width: 14vw;
  top: 76vh;
  left: 5vw; }

#purple {
  width: 14vw;
  top: 45vh;
  left: 22vw; }

#yellow {
  width: 11.5vw;
  top: 7vh;
  left: 47vw; }

#blue {
  width: 14vw;
  top: 84.5vh;
  left: 64vw; }

#green {
  width: 10.5vw;
  top: 45vh;
  left: 75vw; }

#aboutus .people_glasses img {
  position: absolute;
  z-index: 10;
  display: none; }

#pink1 {
  width: 34.8vw;
  top: 30vh;
  left: -5.2vw; }

#purple1 {
  width: 34.8vw;
  top: 0vh;
  left: 12vw; }

#yellow1 {
  width: 27vw;
  top: -33vh;
  left: 40vw; }

#blue1 {
  width: 33vw;
  top: 43vh;
  left: 55vw; }

#green1 {
  width: 25.2vw;
  top: 12vh;
  left: 67.5vw; }

#people1, #people2, #people3, #people4, #people5 {
  position: absolute;
  z-index: 9;
  display: none;
  width: 20vw; }

#people1 {
  top: 80vh;
  left: 23vw; }

#people2 {
  top: 60vh;
  left: 3vw; }

#people3 {
  top: 25vh;
  left: 60vw; }

#people4 {
  top: 92vh;
  left: 40vw; }

#people5 {
  top: 52vh;
  left: 50vw; }
